Otus_DemoTutor/.idea/.idea.Otus_DemoTutor/.idea/vcs.xml
Otus_DemoTutor/.idea/.idea.Otus_DemoTutor/.idea/indexLayout.xml
Otus_DemoTutor/.idea/.idea.Otus_DemoTutor/.idea/encodings.xml
Otus_DemoTutor/.idea/.idea.Otus_DemoTutor/.idea/.gitignore
